.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
}

.column{
    flex: 1 1 40%; /* Each column takes 50% of the container width */
    margin: 5% 5% 0;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    .column {
        flex-basis: 100%; /* Columns stack vertically on smaller screens */
    }
}

.song-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 5%;
    margin-left: 2%;
    list-style: none;
    padding: 0;
}
.song-element {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2%;
}
.song-li {
    border: 1px solid #C0C0C0;
    padding: 2%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.song-li:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #bbb;
}


.song-image {
    width: 10%; /* Ajustez la largeur de l'image selon vos besoins */
    height: 10%; /* Ajustez la hauteur de l'image selon vos besoins */
    margin-right: 3%;
}
