.searchSong {
    position: absolute;
    top: 10%;
    left: 0;
    width: 50%;
    text-align: center;
}
.suggestions {
    position: absolute;
    top: 10%;
    right: 0;
    width: 50%;
    text-align: center;
}

.card {
    /* Add any styling for the card div */
}

.ui.input {
    /* Add any styling for the input div */
}

.song-list {
    margin-top: 20px;
}

.song-ul {
    list-style: none;
    padding: 0;
}

.song-li {
    border: 1px solid #C0C0C0;
    margin-bottom: 8px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.song-li:hover {
    background-color: #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #bbb;
}
.song-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.song-image {
    width: 50px; /* Ajustez la largeur de l'image selon vos besoins */
    height: 50px; /* Ajustez la hauteur de l'image selon vos besoins */
    margin-right: 10px; /* Ajoute un espace entre l'image et le texte */
    margin-left: 50px;
}
